<div class="container ui">
    <div class="five wide column">
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Joined</th>
                    <th>E-mail</th>
                    <th>Called</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Lilki</td>
                    <td>September 14, 2013</td>
                    <td>jhlilk22@yahoo.com</td>
                    <td>No</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>